<a href="https://colab.research.google.com/github/Baridwan01/Posttest2Datmin/blob/main/2109116036_Zaki_Baridwan_Sauqi_Posttest2_DataMining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# (1) Apriori

Gunakan dataset ini : https://drive.google.com/file/d/1BqC-2d1ZYqFIFwdjdsW5bAAqNFh2AO4C/view?usp=share_link

Dan buatlah daftar support dan confidence untuk 2 item set dengan menggunakan dataset tersebut (hint : buatlah tabel tabulasi terlebih dahulu untuk memudahkan)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Baridwan01/Posttest2Datmin/main/Dataset/dataset_market_basket_apriori.csv")
df

,whole milk,pasrty,salty snack,sausage,semi-finished bread,yogurt,soda,pickled vegetables,canned beer,misc. beverages,...,tropical fruit,sugar,butter milk,specialty chocolate,frozen meals,dental care,root vegetables,detergent,dish cleaner,cling film/bags
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
17,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [3]:
df.sum() # menghitung jumlah nilai di setiap kolom

whole milk             5
pasrty                 1
salty snack            2
sausage                4
semi-finished bread    1
yogurt                 1
soda                   3
pickled vegetables     1
canned beer            1
misc. beverages        1
hygiene articles       1
rolls/buns             4
frankfurter            2
whipped/sour cream     1
curd                   1
beef                   1
white bread            1
butter                 1
frozen vegetables      1
other vegetables       1
tropical fruit         1
sugar                  1
butter milk            1
specialty chocolate    1
frozen meals           1
dental care            1
root vegetables        1
detergent              1
dish cleaner           1
cling film/bags        1
dtype: int64

In [4]:
df.columns # mengetahui kolom apa saja yang ada pada dataset

Index(['whole milk', 'pasrty', 'salty snack', 'sausage', 'semi-finished bread',
       'yogurt', 'soda', 'pickled vegetables', 'canned beer',
       'misc. beverages', 'hygiene articles', 'rolls/buns', 'frankfurter',
       'whipped/sour cream', 'curd', 'beef', 'white bread', 'butter',
       'frozen vegetables', 'other vegetables', 'tropical fruit', 'sugar',
       'butter milk', 'specialty chocolate', 'frozen meals', 'dental care',
       'root vegetables', 'detergent', 'dish cleaner', 'cling film/bags'],
      dtype='object')

In [5]:
from itertools import permutations #Library untuk buat kombinasi barang
rules = list(permutations(df.columns, 2)) # untuk menyimpan seluruh kemungkinan kombinasi barang
rules # untuk menampilkan keseluruhan hasil kombinasi

[('whole milk', 'pasrty'),
 ('whole milk', 'salty snack'),
 ('whole milk', 'sausage'),
 ('whole milk', 'semi-finished bread'),
 ('whole milk', 'yogurt'),
 ('whole milk', 'soda'),
 ('whole milk', 'pickled vegetables'),
 ('whole milk', 'canned beer'),
 ('whole milk', 'misc. beverages'),
 ('whole milk', 'hygiene articles'),
 ('whole milk', 'rolls/buns'),
 ('whole milk', 'frankfurter'),
 ('whole milk', 'whipped/sour cream'),
 ('whole milk', 'curd'),
 ('whole milk', 'beef'),
 ('whole milk', 'white bread'),
 ('whole milk', 'butter'),
 ('whole milk', 'frozen vegetables'),
 ('whole milk', 'other vegetables'),
 ('whole milk', 'tropical fruit'),
 ('whole milk', 'sugar'),
 ('whole milk', 'butter milk'),
 ('whole milk', 'specialty chocolate'),
 ('whole milk', 'frozen meals'),
 ('whole milk', 'dental care'),
 ('whole milk', 'root vegetables'),
 ('whole milk', 'detergent'),
 ('whole milk', 'dish cleaner'),
 ('whole milk', 'cling film/bags'),
 ('pasrty', 'whole milk'),
 ('pasrty', 'salty snack'),
 ('pasrty', 'sausage'),
 ('pasrty', 'semi-finished bread'),
 ('pasrty', 'yogurt'),
 ('pasrty', 'soda'),
 ('pasrty', 'pickled vegetables'),
 ('pasrty', 'canned beer'),
 ('pasrty', 'misc. beverages'),
 ('pasrty', 'hygiene articles'),
 ('pasrty', 'rolls/buns'),
 ('pasrty', 'frankfurter'),
 ('pasrty', 'whipped/sour cream'),
 ('pasrty', 'curd'),
 ('pasrty', 'beef'),
 ('pasrty', 'white bread'),
 ('pasrty', 'butter'),
 ('pasrty', 'frozen vegetables'),
 ('pasrty', 'other vegetables'),
 ('pasrty', 'tropical fruit'),
 ('pasrty', 'sugar'),
 ('pasrty', 'butter milk'),
 ('pasrty', 'specialty chocolate'),
 ('pasrty', 'frozen meals'),
 ('pasrty', 'dental care'),
 ('pasrty', 'root vegetables'),
 ('pasrty', 'detergent'),
 ('pasrty', 'dish cleaner'),
 ('pasrty', 'cling film/bags'),
 ('salty snack', 'whole milk'),
 ('salty snack', 'pasrty'),
 ('salty snack', 'sausage'),
 ('salty snack', 'semi-finished bread'),
 ('salty snack', 'yogurt'),
 ('salty snack', 'soda'),
 ('salty snack', 'pickled vegetables'),
 ('salty snack', 'canned beer'),
 ('salty snack', 'misc. beverages'),
 ('salty snack', 'hygiene articles'),
 ('salty snack', 'rolls/buns'),
 ('salty snack', 'frankfurter'),
 ('salty snack', 'whipped/sour cream'),
 ('salty snack', 'curd'),
 ('salty snack', 'beef'),
 ('salty snack', 'white bread'),
 ('salty snack', 'butter'),
 ('salty snack', 'frozen vegetables'),
 ('salty snack', 'other vegetables'),
 ('salty snack', 'tropical fruit'),
 ('salty snack', 'sugar'),
 ('salty snack', 'butter milk'),
 ('salty snack', 'specialty chocolate'),
 ('salty snack', 'frozen meals'),
 ('salty snack', 'dental care'),
 ('salty snack', 'root vegetables'),
 ('salty snack', 'detergent'),
 ('salty snack', 'dish cleaner'),
 ('salty snack', 'cling film/bags'),
 ('sausage', 'whole milk'),
 ('sausage', 'pasrty'),
 ('sausage', 'salty snack'),
 ('sausage', 'semi-finished bread'),
 ('sausage', 'yogurt'),
 ('sausage', 'soda'),
 ('sausage', 'pickled vegetables'),
 ('sausage', 'canned beer'),
 ('sausage', 'misc. beverages'),
 ('sausage', 'hygiene articles'),
 ('sausage', 'rolls/buns'),
 ('sausage', 'frankfurter'),
 ('sausage', 'whipped/sour cream'),
 ('sausage', 'curd'),
 ('sausage', 'beef'),
 ('sausage', 'white bread'),
 ('sausage', 'butter'),
 ('sausage', 'frozen vegetables'),
 ('sausage', 'other vegetables'),
 ('sausage', 'tropical fruit'),
 ('sausage', 'sugar'),
 ('sausage', 'butter milk'),
 ('sausage', 'specialty chocolate'),
 ('sausage', 'frozen meals'),
 ('sausage', 'dental care'),
 ('sausage', 'root vegetables'),
 ('sausage', 'detergent'),
 ('sausage', 'dish cleaner'),
 ('sausage', 'cling film/bags'),
 ('semi-finished bread', 'whole milk'),
 ('semi-finished bread', 'pasrty'),
 ('semi-finished bread', 'salty snack'),
 ('semi-finished bread', 'sausage'),
 ('semi-finished bread', 'yogurt'),
 ('semi-finished bread', 'soda'),
 ('semi-finished bread', 'pickled vegetables'),
 ('semi-finished bread', 'canned beer'),
 ('semi-finished bread', 'misc. beverages'),
 ('semi-finished bread', 'hygiene articles'),
 ('semi-finished bread', 'rolls/buns'),
 ('semi-finished bread', 'frankfurter'),
 ('semi-finished bread', 'whipped/sour cream'),
 ('semi-finished bread', 'curd'),
 ('semi-finished bread', 'beef'),
 ('semi-finished bread', 'white bread'),
 ('semi-finished bread', 'butter'),
 ('semi-finished bread', 'frozen vegetables'),
 ('semi-finished bread', 'other vegetables'),
 ('semi-finished bread', 'tropical fruit'),
 ('semi-finished bread', 'sugar'),
 ('semi-finished bread', 'butter milk'),
 ('semi-finished bread', 'specialty chocolate'),
 ('semi-finished bread', 'frozen meals'),
 ('semi-finished bread', 'dental care'),
 ('semi-finished bread', 'root vegetables'),
 ('semi-finished bread', 'detergent'),
 ('semi-finished bread', 'dish cleaner'),
 ('semi-finished bread', 'cling film/bags'),
 ('yogurt', 'whole milk'),
 ('yogurt', 'pasrty'),
 ('yogurt', 'salty snack'),
 ('yogurt', 'sausage'),
 ('yogurt', 'semi-finished bread'),
 ('yogurt', 'soda'),
 ('yogurt', 'pickled vegetables'),
 ('yogurt', 'canned beer'),
 ('yogurt', 'misc. beverages'),
 ('yogurt', 'hygiene articles'),
 ('yogurt', 'rolls/buns'),
 ('yogurt', 'frankfurter'),
 ('yogurt', 'whipped/sour cream'),
 ('yogurt', 'curd'),
 ('yogurt', 'beef'),
 ('yogurt', 'white bread'),
 ('yogurt', 'butter'),
 ('yogurt', 'frozen vegetables'),
 ('yogurt', 'other vegetables'),
 ('yogurt', 'tropical fruit'),
 ('yogurt', 'sugar'),
 ('yogurt', 'butter milk'),
 ('yogurt', 'specialty chocolate'),
 ('yogurt', 'frozen meals'),
 ('yogurt', 'dental care'),
 ('yogurt', 'root vegetables'),
 ('yogurt', 'detergent'),
 ('yogurt', 'dish cleaner'),
 ('yogurt', 'cling film/bags'),
 ('soda', 'whole milk'),
 ('soda', 'pasrty'),
 ('soda', 'salty snack'),
 ('soda', 'sausage'),
 ('soda', 'semi-finished bread'),
 ('soda', 'yogurt'),
 ('soda', 'pickled vegetables'),
 ('soda', 'canned beer'),
 ('soda', 'misc. beverages'),
 ('soda', 'hygiene articles'),
 ('soda', 'rolls/buns'),
 ('soda', 'frankfurter'),
 ('soda', 'whipped/sour cream'),
 ('soda', 'curd'),
 ('soda', 'beef'),
 ('soda', 'white bread'),
 ('soda', 'butter'),
 ('soda', 'frozen vegetables'),
 ('soda', 'other vegetables'),
 ('soda', 'tropical fruit'),
 ('soda', 'sugar'),
 ('soda', 'butter milk'),
 ('soda', 'specialty chocolate'),
 ('soda', 'frozen meals'),
 ('soda', 'dental care'),
 ('soda', 'root vegetables'),
 ('soda', 'detergent'),
 ('soda', 'dish cleaner'),
 ('soda', 'cling film/bags'),
 ('pickled vegetables', 'whole milk'),
 ('pickled vegetables', 'pasrty'),
 ('pickled vegetables', 'salty snack'),
 ('pickled vegetables', 'sausage'),
 ('pickled vegetables', 'semi-finished bread'),
 ('pickled vegetables', 'yogurt'),
 ('pickled vegetables', 'soda'),
 ('pickled vegetables', 'canned beer'),
 ('pickled vegetables', 'misc. beverages'),
 ('pickled vegetables', 'hygiene articles'),
 ('pickled vegetables', 'rolls/buns'),
 ('pickled vegetables', 'frankfurter'),
 ('pickled vegetables', 'whipped/sour cream'),
 ('pickled vegetables', 'curd'),
 ('pickled vegetables', 'beef'),
 ('pickled vegetables', 'white bread'),
 ('pickled vegetables', 'butter'),
 ('pickled vegetables', 'frozen vegetables'),
 ('pickled vegetables', 'other vegetables'),
 ('pickled vegetables', 'tropical fruit'),
 ('pickled vegetables', 'sugar'),
 ('pickled vegetables', 'butter milk'),
 ('pickled vegetables', 'specialty chocolate'),
 ('pickled vegetables', 'frozen meals'),
 ('pickled vegetables', 'dental care'),
 ('pickled vegetables', 'root vegetables'),
 ('pickled vegetables', 'detergent'),
 ('pickled vegetables', 'dish cleaner'),
 ('pickled vegetables', 'cling film/bags'),
 ('canned beer', 'whole milk'),
 ('canned beer', 'pasrty'),
 ('canned beer', 'salty snack'),
 ('canned beer', 'sausage'),
 ('canned beer', 'semi-finished bread'),
 ('canned beer', 'yogurt'),
 ('canned beer', 'soda'),
 ('canned beer', 'pickled vegetables'),
 ('canned beer', 'misc. beverages'),
 ('canned beer', 'hygiene articles'),
 ('canned beer', 'rolls/buns'),
 ('canned beer', 'frankfurter'),
 ('canned beer', 'whipped/sour cream'),
 ('canned beer', 'curd'),
 ('canned beer', 'beef'),
 ('canned beer', 'white bread'),
 ('canned beer', 'butter'),
 ('canned beer', 'frozen vegetables'),
 ('canned beer', 'other vegetables'),
 ('canned beer', 'tropical fruit'),
 ('canned beer', 'sugar'),
 ('canned beer', 'butter milk'),
 ('canned beer', 'specialty chocolate'),
 ('canned beer', 'frozen meals'),
 ('canned beer', 'dental care'),
 ('canned beer', 'root vegetables'),
 ('canned beer', 'detergent'),
 ('canned beer', 'dish cleaner'),
 ('canned beer', 'cling film/bags'),
 ('misc. beverages', 'whole milk'),
 ('misc. beverages', 'pasrty'),
 ('misc. beverages', 'salty snack'),
 ('misc. beverages', 'sausage'),
 ('misc. beverages', 'semi-finished bread'),
 ('misc. beverages', 'yogurt'),
 ('misc. beverages', 'soda'),
 ('misc. beverages', 'pickled vegetables'),
 ('misc. beverages', 'canned beer'),
 ('misc. beverages', 'hygiene articles'),
 ('misc. beverages', 'rolls/buns'),
 ('misc. beverages', 'frankfurter'),
 ('misc. beverages', 'whipped/sour cream'),
 ('misc. beverages', 'curd'),
 ('misc. beverages', 'beef'),
 ('misc. beverages', 'white bread'),
 ('misc. beverages', 'butter'),
 ('misc. beverages', 'frozen vegetables'),
 ('misc. beverages', 'other vegetables'),
 ('misc. beverages', 'tropical fruit'),
 ('misc. beverages', 'sugar'),
 ('misc. beverages', 'butter milk'),
 ('misc. beverages', 'specialty chocolate'),
 ('misc. beverages', 'frozen meals'),
 ('misc. beverages', 'dental care'),
 ('misc. beverages', 'root vegetables'),
 ('misc. beverages', 'detergent'),
 ('misc. beverages', 'dish cleaner'),
 ('misc. beverages', 'cling film/bags'),
 ('hygiene articles', 'whole milk'),
 ('hygiene articles', 'pasrty'),
 ('hygiene articles', 'salty snack'),
 ('hygiene articles', 'sausage'),
 ('hygiene articles', 'semi-finished bread'),
 ('hygiene articles', 'yogurt'),
 ('hygiene articles', 'soda'),
 ('hygiene articles', 'pickled vegetables'),
 ('hygiene articles', 'canned beer'),
 ('hygiene articles', 'misc. beverages'),
 ('hygiene articles', 'rolls/buns'),
 ('hygiene articles', 'frankfurter'),
 ('hygiene articles', 'whipped/sour cream'),
 ('hygiene articles', 'curd'),
 ('hygiene articles', 'beef'),
 ('hygiene articles', 'white bread'),
 ('hygiene articles', 'butter'),
 ('hygiene articles', 'frozen vegetables'),
 ('hygiene articles', 'other vegetables'),
 ('hygiene articles', 'tropical fruit'),
 ('hygiene articles', 'sugar'),
 ('hygiene articles', 'butter milk'),
 ('hygiene articles', 'specialty chocolate'),
 ('hygiene articles', 'frozen meals'),
 ('hygiene articles', 'dental care'),
 ('hygiene articles', 'root vegetables'),
 ('hygiene articles', 'detergent'),
 ('hygiene articles', 'dish cleaner'),
 ('hygiene articles', 'cling film/bags'),
 ('rolls/buns', 'whole milk'),
 ('rolls/buns', 'pasrty'),
 ('rolls/buns', 'salty snack'),
 ('rolls/buns', 'sausage'),
 ('rolls/buns', 'semi-finished bread'),
 ('rolls/buns', 'yogurt'),
 ('rolls/buns', 'soda'),
 ('rolls/buns', 'pickled vegetables'),
 ('rolls/buns', 'canned beer'),
 ('rolls/buns', 'misc. beverages'),
 ('rolls/buns', 'hygiene articles'),
 ('rolls/buns', 'frankfurter'),
 ('rolls/buns', 'whipped/sour cream'),
 ('rolls/buns', 'curd'),
 ('rolls/buns', 'beef'),
 ('rolls/buns', 'white bread'),
 ('rolls/buns', 'butter'),
 ('rolls/buns', 'frozen vegetables'),
 ('rolls/buns', 'other vegetables'),
 ('rolls/buns', 'tropical fruit'),
 ('rolls/buns', 'sugar'),
 ('rolls/buns', 'butter milk'),
 ('rolls/buns', 'specialty chocolate'),
 ('rolls/buns', 'frozen meals'),
 ('rolls/buns', 'dental care'),
 ('rolls/buns', 'root vegetables'),
 ('rolls/buns', 'detergent'),
 ('rolls/buns', 'dish cleaner'),
 ('rolls/buns', 'cling film/bags'),
 ('frankfurter', 'whole milk'),
 ('frankfurter', 'pasrty'),
 ('frankfurter', 'salty snack'),
 ('frankfurter', 'sausage'),
 ('frankfurter', 'semi-finished bread'),
 ('frankfurter', 'yogurt'),
 ('frankfurter', 'soda'),
 ('frankfurter', 'pickled vegetables'),
 ('frankfurter', 'canned beer'),
 ('frankfurter', 'misc. beverages'),
 ('frankfurter', 'hygiene articles'),
 ('frankfurter', 'rolls/buns'),
 ('frankfurter', 'whipped/sour cream'),
 ('frankfurter', 'curd'),
 ('frankfurter', 'beef'),
 ('frankfurter', 'white bread'),
 ('frankfurter', 'butter'),
 ('frankfurter', 'frozen vegetables'),
 ('frankfurter', 'other vegetables'),
 ('frankfurter', 'tropical fruit'),
 ('frankfurter', 'sugar'),
 ('frankfurter', 'butter milk'),
 ('frankfurter', 'specialty chocolate'),
 ('frankfurter', 'frozen meals'),
 ('frankfurter', 'dental care'),
 ('frankfurter', 'root vegetables'),
 ('frankfurter', 'detergent'),
 ('frankfurter', 'dish cleaner'),
 ('frankfurter', 'cling film/bags'),
 ('whipped/sour cream', 'whole milk'),
 ('whipped/sour cream', 'pasrty'),
 ('whipped/sour cream', 'salty snack'),
 ('whipped/sour cream', 'sausage'),
 ('whipped/sour cream', 'semi-finished bread'),
 ('whipped/sour cream', 'yogurt'),
 ('whipped/sour cream', 'soda'),
 ('whipped/sour cream', 'pickled vegetables'),
 ('whipped/sour cream', 'canned beer'),
 ('whipped/sour cream', 'misc. beverages'),
 ('whipped/sour cream', 'hygiene articles'),
 ('whipped/sour cream', 'rolls/buns'),
 ('whipped/sour cream', 'frankfurter'),
 ('whipped/sour cream', 'curd'),
 ('whipped/sour cream', 'beef'),
 ('whipped/sour cream', 'white bread'),
 ('whipped/sour cream', 'butter'),
 ('whipped/sour cream', 'frozen vegetables'),
 ('whipped/sour cream', 'other vegetables'),
 ('whipped/sour cream', 'tropical fruit'),
 ('whipped/sour cream', 'sugar'),
 ('whipped/sour cream', 'butter milk'),
 ('whipped/sour cream', 'specialty chocolate'),
 ('whipped/sour cream', 'frozen meals'),
 ('whipped/sour cream', 'dental care'),
 ('whipped/sour cream', 'root vegetables'),
 ('whipped/sour cream', 'detergent'),
 ('whipped/sour cream', 'dish cleaner'),
 ('whipped/sour cream', 'cling film/bags'),
 ('curd', 'whole milk'),
 ('curd', 'pasrty'),
 ('curd', 'salty snack'),
 ('curd', 'sausage'),
 ('curd', 'semi-finished bread'),
 ('curd', 'yogurt'),
 ('curd', 'soda'),
 ('curd', 'pickled vegetables'),
 ('curd', 'canned beer'),
 ('curd', 'misc. beverages'),
 ('curd', 'hygiene articles'),
 ('curd', 'rolls/buns'),
 ('curd', 'frankfurter'),
 ('curd', 'whipped/sour cream'),
 ('curd', 'beef'),
 ('curd', 'white bread'),
 ('curd', 'butter'),
 ('curd', 'frozen vegetables'),
 ('curd', 'other vegetables'),
 ('curd', 'tropical fruit'),
 ('curd', 'sugar'),
 ('curd', 'butter milk'),
 ('curd', 'specialty chocolate'),
 ('curd', 'frozen meals'),
 ('curd', 'dental care'),
 ('curd', 'root vegetables'),
 ('curd', 'detergent'),
 ('curd', 'dish cleaner'),
 ('curd', 'cling film/bags'),
 ('beef', 'whole milk'),
 ('beef', 'pasrty'),
 ('beef', 'salty snack'),
 ('beef', 'sausage'),
 ('beef', 'semi-finished bread'),
 ('beef', 'yogurt'),
 ('beef', 'soda'),
 ('beef', 'pickled vegetables'),
 ('beef', 'canned beer'),
 ('beef', 'misc. beverages'),
 ('beef', 'hygiene articles'),
 ('beef', 'rolls/buns'),
 ('beef', 'frankfurter'),
 ('beef', 'whipped/sour cream'),
 ('beef', 'curd'),
 ('beef', 'white bread'),
 ('beef', 'butter'),
 ('beef', 'frozen vegetables'),
 ('beef', 'other vegetables'),
 ('beef', 'tropical fruit'),
 ('beef', 'sugar'),
 ('beef', 'butter milk'),
 ('beef', 'specialty chocolate'),
 ('beef', 'frozen meals'),
 ('beef', 'dental care'),
 ('beef', 'root vegetables'),
 ('beef', 'detergent'),
 ('beef', 'dish cleaner'),
 ('beef', 'cling film/bags'),
 ('white bread', 'whole milk'),
 ('white bread', 'pasrty'),
 ('white bread', 'salty snack'),
 ('white bread', 'sausage'),
 ('white bread', 'semi-finished bread'),
 ('white bread', 'yogurt'),
 ('white bread', 'soda'),
 ('white bread', 'pickled vegetables'),
 ('white bread', 'canned beer'),
 ('white bread', 'misc. beverages'),
 ('white bread', 'hygiene articles'),
 ('white bread', 'rolls/buns'),
 ('white bread', 'frankfurter'),
 ('white bread', 'whipped/sour cream'),
 ('white bread', 'curd'),
 ('white bread', 'beef'),
 ('white bread', 'butter'),
 ('white bread', 'frozen vegetables'),
 ('white bread', 'other vegetables'),
 ('white bread', 'tropical fruit'),
 ('white bread', 'sugar'),
 ('white bread', 'butter milk'),
 ('white bread', 'specialty chocolate'),
 ('white bread', 'frozen meals'),
 ('white bread', 'dental care'),
 ('white bread', 'root vegetables'),
 ('white bread', 'detergent'),
 ('white bread', 'dish cleaner'),
 ('white bread', 'cling film/bags'),
 ('butter', 'whole milk'),
 ('butter', 'pasrty'),
 ('butter', 'salty snack'),
 ('butter', 'sausage'),
 ('butter', 'semi-finished bread'),
 ('butter', 'yogurt'),
 ('butter', 'soda'),
 ('butter', 'pickled vegetables'),
 ('butter', 'canned beer'),
 ('butter', 'misc. beverages'),
 ('butter', 'hygiene articles'),
 ('butter', 'rolls/buns'),
 ('butter', 'frankfurter'),
 ('butter', 'whipped/sour cream'),
 ('butter', 'curd'),
 ('butter', 'beef'),
 ('butter', 'white bread'),
 ('butter', 'frozen vegetables'),
 ('butter', 'other vegetables'),
 ('butter', 'tropical fruit'),
 ('butter', 'sugar'),
 ('butter', 'butter milk'),
 ('butter', 'specialty chocolate'),
 ('butter', 'frozen meals'),
 ('butter', 'dental care'),
 ('butter', 'root vegetables'),
 ('butter', 'detergent'),
 ('butter', 'dish cleaner'),
 ('butter', 'cling film/bags'),
 ('frozen vegetables', 'whole milk'),
 ('frozen vegetables', 'pasrty'),
 ('frozen vegetables', 'salty snack'),
 ('frozen vegetables', 'sausage'),
 ('frozen vegetables', 'semi-finished bread'),
 ('frozen vegetables', 'yogurt'),
 ('frozen vegetables', 'soda'),
 ('frozen vegetables', 'pickled vegetables'),
 ('frozen vegetables', 'canned beer'),
 ('frozen vegetables', 'misc. beverages'),
 ('frozen vegetables', 'hygiene articles'),
 ('frozen vegetables', 'rolls/buns'),
 ('frozen vegetables', 'frankfurter'),
 ('frozen vegetables', 'whipped/sour cream'),
 ('frozen vegetables', 'curd'),
 ('frozen vegetables', 'beef'),
 ('frozen vegetables', 'white bread'),
 ('frozen vegetables', 'butter'),
 ('frozen vegetables', 'other vegetables'),
 ('frozen vegetables', 'tropical fruit'),
 ('frozen vegetables', 'sugar'),
 ('frozen vegetables', 'butter milk'),
 ('frozen vegetables', 'specialty chocolate'),
 ('frozen vegetables', 'frozen meals'),
 ('frozen vegetables', 'dental care'),
 ('frozen vegetables', 'root vegetables'),
 ('frozen vegetables', 'detergent'),
 ('frozen vegetables', 'dish cleaner'),
 ('frozen vegetables', 'cling film/bags'),
 ('other vegetables', 'whole milk'),
 ('other vegetables', 'pasrty'),
 ('other vegetables', 'salty snack'),
 ('other vegetables', 'sausage'),
 ('other vegetables', 'semi-finished bread'),
 ('other vegetables', 'yogurt'),
 ('other vegetables', 'soda'),
 ('other vegetables', 'pickled vegetables'),
 ('other vegetables', 'canned beer'),
 ('other vegetables', 'misc. beverages'),
 ('other vegetables', 'hygiene articles'),
 ('other vegetables', 'rolls/buns'),
 ('other vegetables', 'frankfurter'),
 ('other vegetables', 'whipped/sour cream'),
 ('other vegetables', 'curd'),
 ('other vegetables', 'beef'),
 ('other vegetables', 'white bread'),
 ('other vegetables', 'butter'),
 ('other vegetables', 'frozen vegetables'),
 ('other vegetables', 'tropical fruit'),
 ('other vegetables', 'sugar'),
 ('other vegetables', 'butter milk'),
 ('other vegetables', 'specialty chocolate'),
 ('other vegetables', 'frozen meals'),
 ('other vegetables', 'dental care'),
 ('other vegetables', 'root vegetables'),
 ('other vegetables', 'detergent'),
 ('other vegetables', 'dish cleaner'),
 ('other vegetables', 'cling film/bags'),
 ('tropical fruit', 'whole milk'),
 ('tropical fruit', 'pasrty'),
 ('tropical fruit', 'salty snack'),
 ('tropical fruit', 'sausage'),
 ('tropical fruit', 'semi-finished bread'),
 ('tropical fruit', 'yogurt'),
 ('tropical fruit', 'soda'),
 ('tropical fruit', 'pickled vegetables'),
 ('tropical fruit', 'canned beer'),
 ('tropical fruit', 'misc. beverages'),
 ('tropical fruit', 'hygiene articles'),
 ('tropical fruit', 'rolls/buns'),
 ('tropical fruit', 'frankfurter'),
 ('tropical fruit', 'whipped/sour cream'),
 ('tropical fruit', 'curd'),
 ('tropical fruit', 'beef'),

In [6]:
# Menghitung kemunculan kombinasi yang ada pada dataset
rule_baru = [] # Menyimpan data dalam bentuk list
for rule in rules: # Mengulangi pembacaan dataset
  if len(df[(df[rule[0]]==1) & (df[rule[1]]==1)]) >0: # Menentukan apakah kombinasi tersebut ada atau tidak
    rule_baru.append(rule) # Menyimpan hasil pengecekan dalam bentuk tuple didalam list
rule_baru # Menampilkan hasil

[('whole milk', 'pasrty'),
 ('whole milk', 'salty snack'),
 ('whole milk', 'sausage'),
 ('whole milk', 'semi-finished bread'),
 ('whole milk', 'yogurt'),
 ('whole milk', 'soda'),
 ('whole milk', 'rolls/buns'),
 ('whole milk', 'butter'),
 ('pasrty', 'whole milk'),
 ('pasrty', 'salty snack'),
 ('salty snack', 'whole milk'),
 ('salty snack', 'pasrty'),
 ('salty snack', 'root vegetables'),
 ('salty snack', 'detergent'),
 ('sausage', 'whole milk'),
 ('sausage', 'semi-finished bread'),
 ('sausage', 'yogurt'),
 ('sausage', 'hygiene articles'),
 ('sausage', 'rolls/buns'),
 ('semi-finished bread', 'whole milk'),
 ('semi-finished bread', 'sausage'),
 ('semi-finished bread', 'yogurt'),
 ('yogurt', 'whole milk'),
 ('yogurt', 'sausage'),
 ('yogurt', 'semi-finished bread'),
 ('soda', 'whole milk'),
 ('soda', 'pickled vegetables'),
 ('soda', 'frankfurter'),
 ('soda', 'whipped/sour cream'),
 ('pickled vegetables', 'soda'),
 ('canned beer', 'misc. beverages'),
 ('misc. beverages', 'canned beer'),
 ('hygiene articles', 'sausage'),
 ('rolls/buns', 'whole milk'),
 ('rolls/buns', 'sausage'),
 ('frankfurter', 'soda'),
 ('frankfurter', 'whipped/sour cream'),
 ('frankfurter', 'curd'),
 ('whipped/sour cream', 'soda'),
 ('whipped/sour cream', 'frankfurter'),
 ('curd', 'frankfurter'),
 ('beef', 'white bread'),
 ('white bread', 'beef'),
 ('butter', 'whole milk'),
 ('frozen vegetables', 'other vegetables'),
 ('other vegetables', 'frozen vegetables'),
 ('tropical fruit', 'sugar'),
 ('sugar', 'tropical fruit'),
 ('butter milk', 'specialty chocolate'),
 ('specialty chocolate', 'butter milk'),
 ('frozen meals', 'dental care'),
 ('dental care', 'frozen meals'),
 ('root vegetables', 'salty snack'),
 ('root vegetables', 'detergent'),
 ('detergent', 'salty snack'),
 ('detergent', 'root vegetables'),
 ('dish cleaner', 'cling film/bags'),
 ('cling film/bags', 'dish cleaner')]

In [7]:
hitung = {} # Menyimpan data dalam bentuk dictionary
for rule in rule_baru:  # Mengulangi pembacaan dataset
  banyak_data= len(df[
      (df[rule[0]]==1) & (df[rule[1]]==1) # Menentukan berapa jumlah kemunculan kombinasi dan menyimpannya dalam sebuah variabel
      ])
  hitung[str(rule)] = banyak_data # Menambahkan hasil penentuan ke dalam dictionary
hitung # Menampilkan hasil

{"('whole milk', 'pasrty')": 1,
 "('whole milk', 'salty snack')": 1,
 "('whole milk', 'sausage')": 2,
 "('whole milk', 'semi-finished bread')": 1,
 "('whole milk', 'yogurt')": 1,
 "('whole milk', 'soda')": 1,
 "('whole milk', 'rolls/buns')": 1,
 "('whole milk', 'butter')": 1,
 "('pasrty', 'whole milk')": 1,
 "('pasrty', 'salty snack')": 1,
 "('salty snack', 'whole milk')": 1,
 "('salty snack', 'pasrty')": 1,
 "('salty snack', 'root vegetables')": 1,
 "('salty snack', 'detergent')": 1,
 "('sausage', 'whole milk')": 2,
 "('sausage', 'semi-finished bread')": 1,
 "('sausage', 'yogurt')": 1,
 "('sausage', 'hygiene articles')": 1,
 "('sausage', 'rolls/buns')": 2,
 "('semi-finished bread', 'whole milk')": 1,
 "('semi-finished bread', 'sausage')": 1,
 "('semi-finished bread', 'yogurt')": 1,
 "('yogurt', 'whole milk')": 1,
 "('yogurt', 'sausage')": 1,
 "('yogurt', 'semi-finished bread')": 1,
 "('soda', 'whole milk')": 1,
 "('soda', 'pickled vegetables')": 1,
 "('soda', 'frankfurter')": 1,
 "('soda', 'whipped/sour cream')": 1,
 "('pickled vegetables', 'soda')": 1,
 "('canned beer', 'misc. beverages')": 1,
 "('misc. beverages', 'canned beer')": 1,
 "('hygiene articles', 'sausage')": 1,
 "('rolls/buns', 'whole milk')": 1,
 "('rolls/buns', 'sausage')": 2,
 "('frankfurter', 'soda')": 1,
 "('frankfurter', 'whipped/sour cream')": 1,
 "('frankfurter', 'curd')": 1,
 "('whipped/sour cream', 'soda')": 1,
 "('whipped/sour cream', 'frankfurter')": 1,
 "('curd', 'frankfurter')": 1,
 "('beef', 'white bread')": 1,
 "('white bread', 'beef')": 1,
 "('butter', 'whole milk')": 1,
 "('frozen vegetables', 'other vegetables')": 1,
 "('other vegetables', 'frozen vegetables')": 1,
 "('tropical fruit', 'sugar')": 1,
 "('sugar', 'tropical fruit')": 1,
 "('butter milk', 'specialty chocolate')": 1,
 "('specialty chocolate', 'butter milk')": 1,
 "('frozen meals', 'dental care')": 1,
 "('dental care', 'frozen meals')": 1,
 "('root vegetables', 'salty snack')": 1,
 "('root vegetables', 'detergent')": 1,
 "('detergent', 'salty snack')": 1,
 "('detergent', 'root vegetables')": 1,
 "('dish cleaner', 'cling film/bags')": 1,
 "('cling film/bags', 'dish cleaner')": 1}

In [8]:
# Melihat banyak transaksi
len(df)

19

In [9]:
# List support
# 
for item,ab in hitung.items(): # Untuk melakukan perulangan pembacaan dataset pada tiap - tiap kombinasi itemnya
  print(f"{item} support = {ab/len(df)*100}%") # Menghitung support pada tiap tiap kombinasi item dan menampilkannya

('whole milk', 'pasrty') support = 5.263157894736842%
('whole milk', 'salty snack') support = 5.263157894736842%
('whole milk', 'sausage') support = 10.526315789473683%
('whole milk', 'semi-finished bread') support = 5.263157894736842%
('whole milk', 'yogurt') support = 5.263157894736842%
('whole milk', 'soda') support = 5.263157894736842%
('whole milk', 'rolls/buns') support = 5.263157894736842%
('whole milk', 'butter') support = 5.263157894736842%
('pasrty', 'whole milk') support = 5.263157894736842%
('pasrty', 'salty snack') support = 5.263157894736842%
('salty snack', 'whole milk') support = 5.263157894736842%
('salty snack', 'pasrty') support = 5.263157894736842%
('salty snack', 'root vegetables') support = 5.263157894736842%
('salty snack', 'detergent') support = 5.263157894736842%
('sausage', 'whole milk') support = 10.526315789473683%
('sausage', 'semi-finished bread') support = 5.263157894736842%
('sausage', 'yogurt') support = 5.263157894736842%
('sausage', 'hygiene articles') support = 5.263157894736842%
('sausage', 'rolls/buns') support = 10.526315789473683%
('semi-finished bread', 'whole milk') support = 5.263157894736842%
('semi-finished bread', 'sausage') support = 5.263157894736842%
('semi-finished bread', 'yogurt') support = 5.263157894736842%
('yogurt', 'whole milk') support = 5.263157894736842%
('yogurt', 'sausage') support = 5.263157894736842%
('yogurt', 'semi-finished bread') support = 5.263157894736842%
('soda', 'whole milk') support = 5.263157894736842%
('soda', 'pickled vegetables') support = 5.263157894736842%
('soda', 'frankfurter') support = 5.263157894736842%
('soda', 'whipped/sour cream') support = 5.263157894736842%
('pickled vegetables', 'soda') support = 5.263157894736842%
('canned beer', 'misc. beverages') support = 5.263157894736842%
('misc. beverages', 'canned beer') support = 5.263157894736842%
('hygiene articles', 'sausage') support = 5.263157894736842%
('rolls/buns', 'whole milk') support = 5.263157894736842%
('rolls/buns', 'sausage') support = 10.526315789473683%
('frankfurter', 'soda') support = 5.263157894736842%
('frankfurter', 'whipped/sour cream') support = 5.263157894736842%
('frankfurter', 'curd') support = 5.263157894736842%
('whipped/sour cream', 'soda') support = 5.263157894736842%
('whipped/sour cream', 'frankfurter') support = 5.263157894736842%
('curd', 'frankfurter') support = 5.263157894736842%
('beef', 'white bread') support = 5.263157894736842%
('white bread', 'beef') support = 5.263157894736842%
('butter', 'whole milk') support = 5.263157894736842%
('frozen vegetables', 'other vegetables') support = 5.263157894736842%
('other vegetables', 'frozen vegetables') support = 5.263157894736842%
('tropical fruit', 'sugar') support = 5.263157894736842%
('sugar', 'tropical fruit') support = 5.263157894736842%
('butter milk', 'specialty chocolate') support = 5.263157894736842%
('specialty chocolate', 'butter milk') support = 5.263157894736842%
('frozen meals', 'dental care') support = 5.263157894736842%
('dental care', 'frozen meals') support = 5.263157894736842%
('root vegetables', 'salty snack') support = 5.263157894736842%
('root vegetables', 'detergent') support = 5.263157894736842%
('detergent', 'salty snack') support = 5.263157894736842%
('detergent', 'root vegetables') support = 5.263157894736842%
('dish cleaner', 'cling film/bags') support = 5.263157894736842%
('cling film/bags', 'dish cleaner') support = 5.263157894736842%

In [10]:
# List Confidens

for item,ab in hitung.items(): # Untuk melakukan perulangan pembacaan dataset pada tiap - tiap kombinasi itemnya
  #"A->B"
  i = eval(item) #Ubah ke list dari string
  print(f"{i[0]}->{i[1]}  Confidence = {ab/df[i[0]].sum()*100}%") # Menghitung confidence pada tiap tiap kombinasi item dan menampilkannya

whole milk->pasrty  Confidence = 20.0%
whole milk->salty snack  Confidence = 20.0%
whole milk->sausage  Confidence = 40.0%
whole milk->semi-finished bread  Confidence = 20.0%
whole milk->yogurt  Confidence = 20.0%
whole milk->soda  Confidence = 20.0%
whole milk->rolls/buns  Confidence = 20.0%
whole milk->butter  Confidence = 20.0%
pasrty->whole milk  Confidence = 100.0%
pasrty->salty snack  Confidence = 100.0%
salty snack->whole milk  Confidence = 50.0%
salty snack->pasrty  Confidence = 50.0%
salty snack->root vegetables  Confidence = 50.0%
salty snack->detergent  Confidence = 50.0%
sausage->whole milk  Confidence = 50.0%
sausage->semi-finished bread  Confidence = 25.0%
sausage->yogurt  Confidence = 25.0%
sausage->hygiene articles  Confidence = 25.0%
sausage->rolls/buns  Confidence = 50.0%
semi-finished bread->whole milk  Confidence = 100.0%
semi-finished bread->sausage  Confidence = 100.0%
semi-finished bread->yogurt  Confidence = 100.0%
yogurt->whole milk  Confidence = 100.0%
yogurt->sausage  Confidence = 100.0%
yogurt->semi-finished bread  Confidence = 100.0%
soda->whole milk  Confidence = 33.33333333333333%
soda->pickled vegetables  Confidence = 33.33333333333333%
soda->frankfurter  Confidence = 33.33333333333333%
soda->whipped/sour cream  Confidence = 33.33333333333333%
pickled vegetables->soda  Confidence = 100.0%
canned beer->misc. beverages  Confidence = 100.0%
misc. beverages->canned beer  Confidence = 100.0%
hygiene articles->sausage  Confidence = 100.0%
rolls/buns->whole milk  Confidence = 25.0%
rolls/buns->sausage  Confidence = 50.0%
frankfurter->soda  Confidence = 50.0%
frankfurter->whipped/sour cream  Confidence = 50.0%
frankfurter->curd  Confidence = 50.0%
whipped/sour cream->soda  Confidence = 100.0%
whipped/sour cream->frankfurter  Confidence = 100.0%
curd->frankfurter  Confidence = 100.0%
beef->white bread  Confidence = 100.0%
white bread->beef  Confidence = 100.0%
butter->whole milk  Confidence = 100.0%
frozen vegetables->other vegetables  Confidence = 100.0%
other vegetables->frozen vegetables  Confidence = 100.0%
tropical fruit->sugar  Confidence = 100.0%
sugar->tropical fruit  Confidence = 100.0%
butter milk->specialty chocolate  Confidence = 100.0%
specialty chocolate->butter milk  Confidence = 100.0%
frozen meals->dental care  Confidence = 100.0%
dental care->frozen meals  Confidence = 100.0%
root vegetables->salty snack  Confidence = 100.0%
root vegetables->detergent  Confidence = 100.0%
detergent->salty snack  Confidence = 100.0%
detergent->root vegetables  Confidence = 100.0%
dish cleaner->cling film/bags  Confidence = 100.0%
cling film/bags->dish cleaner  Confidence = 100.0%

#(2) KNN

Gunakan dataset ini : https://drive.google.com/file/d/1pXAJZZXCXosf0PTJkyogopKaPFxCYl22/view?usp=share_link

Kemudian buatlah tabel jarak berdasarkan data berikut ini : 

![Gambar]()
<!-- 1412 -->

##1. Tambahkan kolom jarak untuk menampilkan jarak dari dataset terhadap target prediksi

In [11]:
import pandas as pd
import math

# Memuat dataset
url = "https://raw.githubusercontent.com/Baridwan01/Posttest2Datmin/main/Dataset/deteksi_uang_palsu_knn.csv"
df2 = pd.read_csv(url)

# Mendefinisikan data poin
data_point = [172.25, 103.94, 103.68, 4.14, 3.25, 112.48]

# Menghitung jarak Eucladean diantara data poin dan setiap baris pada dataset
distances = []
for index, row in df2.iterrows():
    distance = math.sqrt((row['diagonal'] - data_point[0])**2 +
                         (row['height_left'] - data_point[1])**2 +
                         (row['height_right'] - data_point[2])**2 +
                         (row['margin_low'] - data_point[3])**2 +
                         (row['margin_up'] - data_point[4])**2 +
                         (row['length'] - data_point[5])**2)
    distances.append(distance)

# Tampilkan jarak
table = pd.DataFrame({'Distance': distances})

print(df2)
print("\n", table)

   is_genuine  diagonal  height_left  height_right  margin_low  margin_up  \
0        True    172.06       104.24        103.66        4.24       3.10
1        True    171.66       103.68        103.41        4.35       3.33
2        True    172.23       104.00        103.35        4.43       2.95
3        True    172.07       104.21        103.82        4.29       3.35
4        True    171.79       104.57        104.04        4.26       3.15
5       False    172.00       104.23        104.52        5.76       3.37
6       False    171.56       104.03        103.93        5.47       3.50
7       False    171.90       104.33        104.40        4.70       3.31
8       False    171.84       104.06        104.10        4.87       3.25
9       False    172.11       104.14        104.15        4.84       3.28

   length
0  113.02
1  113.74
2  113.12
3  113.30
4  113.46
5  110.94
6  111.67
7  112.12
8  111.04
9  110.98

    Distance
0  0.671267
1  1.458321
2  0.834626
3  0.910934
4  1.312593
5  2.421281
6  1.741896
7  1.113463
8  1.722034
9  1.738217

## 2. Urutkan data berdasarkan K jarak terdekat (Untuk K nya ambil akar 2 dari banyak data)

In [12]:
# Tambahkan jarak sebagai kolom baru ke dataframe
df2['Distance'] = distances

# Hitung nilai k (jumlah nilai terdekat untuk dipertimbangkan)
k = round(math.sqrt(len(df2)))

# Urutkan dataframe berdasarkan kolom 'Distance' dan dapatkan k baris teratas
nearest_neighbors = df2.sort_values(by='Distance').head(k)

# Print nilai terdekat
print(nearest_neighbors)

   is_genuine  diagonal  height_left  height_right  margin_low  margin_up  \
0        True    172.06       104.24        103.66        4.24       3.10
2        True    172.23       104.00        103.35        4.43       2.95
3        True    172.07       104.21        103.82        4.29       3.35

   length  Distance
0  113.02  0.671267
2  113.12  0.834626
3  113.30  0.910934

## 3. Tentukan apa hasil prediksinya berdasarkan label terbanyak

In [13]:
# Mendapatkan kolom target dari dataframe terdekat_tetangga
targets = nearest_neighbors['is_genuine']

# Tentukan target yang paling banyak
prediction = targets.value_counts().idxmax()

# Print prediksi
print("Prediksi:", prediction)

Prediksi: True

# (3) Analisis

> Nama : Zaki Baridwan Sauqi

> Nim : 21091116036

Penjelasan posttest : 

Pilihlah salah satu tema dari daftar tema ini :  
1. Perbankan
2. Kesehatan
3. Ritel
4. Pendidkan

Kemudian lakukan analisis dengan menggunakan struktur CRISP-DM

Dimulai dari Business Understanding Hingga Data Preparation 
<img src="https://th.bing.com/th/id/R.f8efea41ae3cd96d86fbc5b10f81ad77?rik=K4Dr%2biIaVGvW8g&riu=http%3a%2f%2fwww.dataprix.com%2ffiles%2fCRISPDM%2fMetodologia_CRISP_DM1_html_52cdbecf.png&ehk=6ONLJMCVxE421Sjt2JJPE6MfCzrL7LLhDZQPdkJTLcw%3d&risl=&pid=ImgRaw&r=0"/>

Tentukan judul dengan ketentuan setiap orang di kelas beda-beda judulnya dan sumber datasetnya (contoh bisa prediksi atau aturan asosiasi)

Catatan : Tugas ini akan berhubungan dengan posttest terakhir (pertemuan 6)

# Tema = Ritel

## Penjualan Tiket Bioskop

## Business Understanding

Business Understanding:
Dataset ini berisi informasi tentang penjualan tiket bioskop dari beberapa teater selama beberapa waktu. Tujuan dari analisis dataset ini adalah untuk membantu perusahaan bioskop dalam memahami tren penjualan tiket dan perilaku konsumen mereka. Data ini dapat memberikan wawasan tentang preferensi konsumen terhadap film tertentu dan waktu yang paling populer untuk menonton. Analisis ini dapat membantu perusahaan bioskop untuk mengambil keputusan tentang jadwal tayang film dan strategi pemasaran.

Data Understanding:
Dataset ini terdiri dari satu file dengan format CSV. Setiap baris pada dataset ini mewakili satu transaksi penjualan tiket untuk satu film pada suatu waktu tertentu. Kolom pada dataset ini antara lain:

- Cinema: nama bioskop
- Movie: judul film
- Day: hari penjualan tiket
- Time: waktu tayang film
- Genre: genre film
- Age_Restriction: batasan usia penonton
- Price: harga tiket
- Sold: jumlah tiket yang terjual

Dataset ini memiliki 50.000 baris dan 8 kolom. Tidak ada nilai yang hilang pada dataset ini, sehingga tidak perlu dilakukan pembersihan data. Namun, pada kolom Day dan Time perlu dilakukan konversi tipe data ke dalam format yang sesuai dengan kebutuhan analisis. Selain itu, perlu diperhatikan bahwa data ini hanya mencakup beberapa teater dan tidak mewakili penjualan tiket di seluruh industri bioskop.

## Analisis dengan menggunakan struktur CRISP-DM

In [14]:
df3 = pd.read_csv("https://raw.githubusercontent.com/Baridwan01/Posttest2Datmin/main/Dataset/cinemaTicket_Ref.csv")
df3

,film_code,cinema_code,total_sales,tickets_sold,tickets_out,show_time,occu_perc,ticket_price,ticket_use,capacity,date,month,quarter,day
0,1492,304,3900000,26,0,4,4.26,150000.0,26,610.328638,2018-05-05,5,2,5
1,1492,352,3360000,42,0,5,8.08,80000.0,42,519.801980,2018-05-05,5,2,5
2,1492,489,2560000,32,0,4,20.00,80000.0,32,160.000000,2018-05-05,5,2,5
3,1492,429,1200000,12,0,1,11.01,100000.0,12,108.991826,2018-05-05,5,2,5
4,1492,524,1200000,15,0,3,16.67,80000.0,15,89.982004,2018-05-05,5,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,1492,291,600000,10,0,3,1.96,60000.0,10,510.204082,2018-06-24,6,2,24
215,1492,431,300000,3,0,2,5.77,100000.0,3,51.993068,2018-06-24,6,2,24
216,1492,324,140000,2,0,2,0.49,70000.0,2,408.163265,2018-06-24,6,2,24
217,1492,243,120000,2,0,4,0.27,60000.0,2,740.740741,2018-06-24,6,2,24
218,1492,489,1600000,20,0,4,20.00,80000.0,20,100.000000,2018-06-23,6,2,23

## Data Preparation

In [51]:
#Load data
url = 'https://raw.githubusercontent.com/Baridwan01/Posttest2Datmin/main/Dataset/cinemaTicket_Ref.csv'
df = pd.read_csv(url, sep=',')
df

,film_code,cinema_code,total_sales,tickets_sold,tickets_out,show_time,occu_perc,ticket_price,ticket_use,capacity,date,month,quarter,day
0,1492,304,3900000,26,0,4,4.26,150000.0,26,610.328638,2018-05-05,5,2,5
1,1492,352,3360000,42,0,5,8.08,80000.0,42,519.801980,2018-05-05,5,2,5
2,1492,489,2560000,32,0,4,20.00,80000.0,32,160.000000,2018-05-05,5,2,5
3,1492,429,1200000,12,0,1,11.01,100000.0,12,108.991826,2018-05-05,5,2,5
4,1492,524,1200000,15,0,3,16.67,80000.0,15,89.982004,2018-05-05,5,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,1492,291,600000,10,0,3,1.96,60000.0,10,510.204082,2018-06-24,6,2,24
215,1492,431,300000,3,0,2,5.77,100000.0,3,51.993068,2018-06-24,6,2,24
216,1492,324,140000,2,0,2,0.49,70000.0,2,408.163265,2018-06-24,6,2,24
217,1492,243,120000,2,0,4,0.27,60000.0,2,740.740741,2018-06-24,6,2,24
218,1492,489,1600000,20,0,4,20.00,80000.0,20,100.000000,2018-06-23,6,2,23

In [52]:
# Menghapus kolom yang tidak diperlukan
df = df.drop(['ticket_use'], axis=1)
df

,film_code,cinema_code,total_sales,tickets_sold,tickets_out,show_time,occu_perc,ticket_price,capacity,date,month,quarter,day
0,1492,304,3900000,26,0,4,4.26,150000.0,610.328638,2018-05-05,5,2,5
1,1492,352,3360000,42,0,5,8.08,80000.0,519.801980,2018-05-05,5,2,5
2,1492,489,2560000,32,0,4,20.00,80000.0,160.000000,2018-05-05,5,2,5
3,1492,429,1200000,12,0,1,11.01,100000.0,108.991826,2018-05-05,5,2,5
4,1492,524,1200000,15,0,3,16.67,80000.0,89.982004,2018-05-05,5,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,1492,291,600000,10,0,3,1.96,60000.0,510.204082,2018-06-24,6,2,24
215,1492,431,300000,3,0,2,5.77,100000.0,51.993068,2018-06-24,6,2,24
216,1492,324,140000,2,0,2,0.49,70000.0,408.163265,2018-06-24,6,2,24
217,1492,243,120000,2,0,4,0.27,60000.0,740.740741,2018-06-24,6,2,24
218,1492,489,1600000,20,0,4,20.00,80000.0,100.000000,2018-06-23,6,2,23

In [55]:
# Mengubah format tanggal menjadi datetime
df['date'] = pd.to_datetime(df['date'])

In [58]:
# Mengubah tipe data kolom Jumlah Beli menjadi integer
df['ticket_price'] = df['ticket_price'].astype(int)
df

,film_code,cinema_code,total_sales,tickets_sold,tickets_out,show_time,occu_perc,ticket_price,capacity,date,month,quarter,day
0,1492,304,3900000,26,0,4,4.26,150000,610.328638,2018-05-05,5,2,5
1,1492,352,3360000,42,0,5,8.08,80000,519.801980,2018-05-05,5,2,5
2,1492,489,2560000,32,0,4,20.00,80000,160.000000,2018-05-05,5,2,5
3,1492,429,1200000,12,0,1,11.01,100000,108.991826,2018-05-05,5,2,5
4,1492,524,1200000,15,0,3,16.67,80000,89.982004,2018-05-05,5,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,1492,291,600000,10,0,3,1.96,60000,510.204082,2018-06-24,6,2,24
215,1492,431,300000,3,0,2,5.77,100000,51.993068,2018-06-24,6,2,24
216,1492,324,140000,2,0,2,0.49,70000,408.163265,2018-06-24,6,2,24
217,1492,243,120000,2,0,4,0.27,60000,740.740741,2018-06-24,6,2,24
218,1492,489,1600000,20,0,4,20.00,80000,100.000000,2018-06-23,6,2,23

In [59]:
# Membuat kolom baru berdasarkan tanggal
df['day'] = df['date'].dt.day_name()
df

,film_code,cinema_code,total_sales,tickets_sold,tickets_out,show_time,occu_perc,ticket_price,capacity,date,month,quarter,day
0,1492,304,3900000,26,0,4,4.26,150000,610.328638,2018-05-05,5,2,Saturday
1,1492,352,3360000,42,0,5,8.08,80000,519.801980,2018-05-05,5,2,Saturday
2,1492,489,2560000,32,0,4,20.00,80000,160.000000,2018-05-05,5,2,Saturday
3,1492,429,1200000,12,0,1,11.01,100000,108.991826,2018-05-05,5,2,Saturday
4,1492,524,1200000,15,0,3,16.67,80000,89.982004,2018-05-05,5,2,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,1492,291,600000,10,0,3,1.96,60000,510.204082,2018-06-24,6,2,Sunday
215,1492,431,300000,3,0,2,5.77,100000,51.993068,2018-06-24,6,2,Sunday
216,1492,324,140000,2,0,2,0.49,70000,408.163265,2018-06-24,6,2,Sunday
217,1492,243,120000,2,0,4,0.27,60000,740.740741,2018-06-24,6,2,Sunday
218,1492,489,1600000,20,0,4,20.00,80000,100.000000,2018-06-23,6,2,Saturday

In [61]:
# Mengisi missing value pada kolom Total Harga dengan nilai rata-rata
mean_total_sales = df['total_sales'].mean()
df['total_sales'] = df['total_sales'].fillna(mean_total_sales)